<header>
    <div class="navbar-fixed" style="">
    <nav style="background-color: #3c6b4a !important">    
          <span id="dash-header" class="blue-black-text">Welcome Doctor</span>
    </nav>
    </div>        
</header>
<ul id="nav-mobile" class="side-nav fixed nav-color" style="width:270px;">
            <li class="dash-logo blue-black green-black-my1">
                <a href="/doctor" class="brand-logo center white-text"><h4>MedDoc</h4></a>
            </li>
            <li><a href="/doctor"><i class="material-icons blue-black-text">view_quilt</i>Dashboard</a></li>
            <li><div class="divider"></div></li>
            <li><a href="/doctor/patient_history"><i class="material-icons blue-black-text">restore</i>Patient History</a></li>
            <li><div class="divider"></div></li>
            <li><a href="/doctor/profile"><i class="material-icons blue-black-text">contacts</i>Profile</a></li>
            <li><div class="divider"></div></li>
            <li><a href="/logout"><i class="material-icons blue-black-text">power_settings_new</i>Logout</a></li>
</ul>
