<!DOCTYPE html>
<html>
  <head>
    <title>Patient Appointment</title>
    <% include materialize.html %>
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <style type="text/css" media="screen">
            .dash-logo{
                padding: 30px;
            }
            .nav-color{
                background-color: #fbfdff;
            }
            #dash-header{
                display: block;
                margin-left: 320px;
                font-size: 20px;
                text-align: left;
                background-color: #3c6b4a !important;
                color: white !important;
            }
            .course-block{
                display: block;
                height:80px;
                padding: 20px;
                border: 1.5px solid #cbcbce;
                border-radius: 10px;
                font-size:1.2rem;
                background-color: rgb(247, 247, 247);
            }
            .course-block:hover{
                background-color: rgb(232, 232, 232);
                cursor: pointer;
            }
            .dir-strct{
                width:100%;
                height:60px;
                background-color:transparent;
                font-size:20px;
                padding: 15px 4px;
                border-bottom: 1px solid #dedede;
            }
            .tips{
                line-height:22px !important;
                text-align: left;
                padding: 0px 8px;
                margin-bottom: 15px;
            }
            .below_welcome{
                width: 100%;
                height: 45px;
                text-align: right;
                display: block;
                border-bottom: 1px solid #cccccc;
            }
            .below_welcome ul{
                margin:0px;
                padding: 10px;
            }
            .below_welcome ul li{
                display: inline-block;
                margin: 0px 10px;
            }
            .crs-card:hover{
                //background-color: #262D40!important;
            }
            .progress-bar-area{
                display: block;
                width: 100%;
                height: 260px;
            }
            .progress-bar{
                display: block;
                width: 80%;
                height: 216px;
                margin: auto;
                //border: 25px solid #d1d1d1;
                border-radius: 100%;
                //padding: 19% 10% 10% 14%;
                font-size: 60px;
                background-color: #61bb61;
                background-image: linear-gradient(10deg, transparent 50%, #e4e4e4 50%),linear-gradient(10deg, #e4e4e4 50%, transparent 50%);
            }
            .progress-inside{
                position: relative;
                background-color: #f5f5f5;
                width: 80%;
                height: 80%;
                margin: auto;
                border-radius: 100%;
                display: block;
                top: 10%;
                padding: 62px 40px;
            }
            .slash-line{
                width: 32% !important;
                height: 55px;
                border-bottom: 2px solid #fff;
                -webkit-transform: translateY(-6px) translateX(-12px) rotate(60deg);
                position: relative;
            }
            .scd_apt_details{
                height: 30px;
                display: inline-block;
                margin: 1%;
            }
            .scd_apt_title{
              font-size: 1.2rem;
              color: rgba(60, 107, 74, 0.79);
              background-color: #fbfdff;
            }
            .card-title{
              line-height: 30px !important;
            }
        </style>
  </head>
  <body>
    	<% include header.html %>

  <div class="container" style="margin:0px 290px;">
  <div class="container">
    <div class="row">
        <div class="col s12">
          <span class="grey-text darken-4 center"><h3>Take an Appointment</h3></span>
      </div>
  </div>
    <form method="post" action="/patient/request_appoint">
                  <!-- <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">textsms</i>
                      <input type="text" id="autocomplete-input" class="autocomplete">
                      <label for="autocomplete-input">Symptoms</label>
                    </div>
                  </div> -->
                  <div class="row">
                    <div class="input-field col s12">
                                <i class="material-icons prefix">textsms</i>
                                <select name="symp" id="symp" multiple="true">
                                  <option value="NA" disabled selected>Symptoms</option>
                                  <option value="abdominalpain">Abdominal Pain</option>
                                  <option value="appetiteloss">Appetite Loss</option>
                                  <option value="bodypain">Body Pain</option>
                                  <option value="cold">Cold</option>
                                  <option value="constipation">Constipation</option>
                                  <option value="cough">Cough</option>
                                  <option value="dysentery">Dsentery</option>
                                  <option value="fatigue">Fatigue</option>
                                  <option value="fever">Fever</option>
                                  <option value="headache">Headache</option>
                                  <option value="headache">High Fever</option>
                                  <option value="highfever">Joint Pain</option>
                                  <option value="nasalsecretions">Nasal Secretions</option>
                                  <option value="nausea">Nausea</option>
                                  <option value="nightsweat">Night Sweats</option>
                                  <option value="rash">Rashes</option>
                                  <option value="shivering">Shivering</option>
                                  <option value="vomiting">Vomiting</option>
                                  <option value="weakness">Weakness</option>
                                  <option value="weightloss">Weight Loss</option>
                                </select>  
                          </div>

                  </div>
                  <div class="row">
                    <div class="input-field col s8 departments">
                                <i class="material-icons prefix">perm_identity</i>
                                <select id="doc" name="doc">
                                  <option value="NA" disabled selected>Nearest Doctors</option>                    
                                  <!-- <option value="John Nasal">John Nasal</option>
                                  <option value="Raj Verma">Raj Verma</option>
                                  <option value="Nitin Shah">Nitin Shah</option> -->
                                </select>
                    </div>
                    <div class=" col s4">
                            <a id ="searchDoc" href="#"class="waves-effect waves-light btn green-black-my1" >Search</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">query_builder</i>
                      <p class="range-field">Time
                        <input type="range" name="timeS" min="9" max="20"/>
                      </p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">today</i>
                      <input type="date" name="dateS" id="datepicker1" class="datepicker">
                      <label for="datepicker1">Pick a Date for Appointment</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col s6 center-align">
                      <button class="waves-effect waves-light btn green-black-my1" type="submit" name="add">Submit</button>
                    </div>
                    <div class="col s6 center-align">
                      <button class="waves-effect waves-light btn green-black-my1" type="reset" name="clear">Clear</button>
                    </div>
                  </div>
            </form>
</div>
</div>
<script>
 $(document).ready(function() {
    $('select').material_select();
    $('input.autocomplete').autocomplete({
            data: {
                "Pain": null,
                "Fatigue": null,
                "Infection": null,
                "Weight loss": null,
                "Swelling": null,
                "Headche": null,
                "Fever": null
    }});
    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15 // Creates a dropdown of 15 years to control year
    });
    //predictDisease();
  });

  var list;
  var tb = ["cough", "fever", "fatigue", "appetiteloss", "nightsweat", "weightloss"];
    var malaria = ["cold", "shivering", "fever", "headache", "vomiting", "fatigue"];
    var dengue = ["highfever", "headache", "bodypain", "fatigue", "nausea", "vomiting", "rash"];
    var typhoid = ["fever", "rash", "weakness", "constipation", "headache"];
    var swine = ["fever", "cough", "fatigue", "headache", "nasalsecretion"];
    var diar = ["abdominalpain", "dysentery", "nausea", "vomiting"];
    var chiku = ["fever", "jointpain", "rash", "bodypain"];
    var lepto = ["highfever", "shivering", "headache", "abdominalpain"];
    var jaun = ["fatigue", "vomiting", "rash", "weightloss"];
    var stmi = ["nausea", "vomiting", "headache", "fever", "abdominalpain"];
  var diseases = ["Tuberculosis", "Malaria", "Dengue", "Typhoid", "Swine Flu", "Diarreoah", "Chikungunya", "Leptospirosis", "Jaundice", "Stomach Ache"];
  var rankP = [0,0,0,0,0,0,0,0,0,0];
    var rankN = [0,0,0,0,0,0,0,0,0,0];
    var diff  = [0,0,0,0,0,0,0,0,0,0];
    var probab  = [0.12,0.54,0.35,0.32,0.23,0.28,0.18,0.13,0.23,0.21];

  function predictDisease(){
    //alert('hua');
    

    var tbP = 0;
    var malP = 0;
    var dengP = 0;
    var tyhP = 0;
    var swineP = 0;
    var dairP = 0;
    var chikuP = 0;
    var leptoP = 0;
    var jaunP = 0;
    var stmiP = 0;

    var count = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
    
    
    //var probab  = [0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1];

    var symptoms = $('#symp').val();
    //alert(symptoms);
    var sens = 3/21;
    var specs = [0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1];

    for (var i = 0; i < symptoms.length; i++) {
        if (tb.includes(symptoms[i])) {
            count[0]++;
        }
        if (malaria.includes(symptoms[i])) {
            count[1]++;
        }
        if (dengue.includes(symptoms[i])) {
            count[2]++;
        }
        if (typhoid.includes(symptoms[i])) {
            count[3]++;
        }
        if (swine.includes(symptoms[i])) {
            count[4]++;
        }
        if (diar.includes(symptoms[i])) {
            count[5]++;
        }
        if (chiku.includes(symptoms[i])) {
            count[6]++;
        }
        if (lepto.includes(symptoms[i])) {
            count[7]++;
        }
        if (jaun.includes(symptoms[i])) {
            count[8]++;
        }
        if (stmi.includes(symptoms[i])) {
            count[9]++;
        }
    }

    

    for(var n=0;n<10;n++){
      rankP[n] = (probab[n] * sens)/((probab[n] * sens)+(1-probab[n])*(1-specs[n]));
      rankN[n] = (1-probab[n])*(1-specs[n])/((probab[n] * sens)+(1-probab[n])*(1-specs[n]));
      diff[n]  = (rankP[n]-rankN[n]);
      //alert(rankN);
    }


    for (var x = (count.length - 1); x >= 0; x--) {
        //Number of passes
        for (var j = (count.length - x); j > 0; j--) {
            //Compare the adjacent positions
            if (diff[j] > diff[j - 1]) {
                //Swap the numbers
                var tmp = count[j];
                count[j] = count[j - 1];
                count[j - 1] = tmp;

                //Swap the numbers
                var tmp2 = diseases[j];
                diseases[j] = diseases[j - 1];
                diseases[j - 1] = tmp2;

                //Swap the numbers
                var tmp3 = probab[j];
                probab[j] = probab[j - 1];
                probab[j - 1] = tmp3;

                //Swap the numbers
                var tmp4 = rankP[j];
                rankP[j] = rankP[j - 1];
                rankP[j - 1] = tmp4;

                //Swap the numbers
                var tmp5 = diff[j];
                diff[j] = diff[j - 1];
                diff[j - 1] = tmp5;
            }
            //alert(count+" "+diseases);
        }
    }
    list = diseases.slice(0, 5);

    for (var x = (count.length - 1); x >= 0; x--) {
        //Number of passes
        for (var j = (count.length - x); j > 0; j--) {
            //Compare the adjacent positions
            if (count[j] > count[j - 1]) {
                //Swap the numbers
                var tmp = count[j];
                count[j] = count[j - 1];
                count[j - 1] = tmp;

                //Swap the numbers
                var tmp2 = diseases[j];
                diseases[j] = diseases[j - 1];
                diseases[j - 1] = tmp2;
              }
        }
    }
    //alert(count+" "+diseases);
  
    //alert(diff);
    //alert(list);

    //alert(count+" "+diseases);
    //alert(rankP);

  }

  $('#searchDoc').click(function(){
      //alert("HI");
      predictDisease();
      //alert(list);

      if(diseases[0]=='Tuberculosis'){
        $.ajax({
          type: 'POST',
          url : '/doctor/getDoctor',
          data : {str : 'Pulmonologist'},
          success : function(response){
            var tmp = '';
            for(var i=0;i<response.length;i++)
            {
              tmp += '<option value="'+response[i]._id+'">'+response[i].fname+" "+response[i].lname+'</option>';
            }  
            //alert(tmp);
            $('#doc').html(tmp);
            $('select').material_select();

          }
        });
      }
      else{
        $.ajax({
          type: 'POST',
          url : '/doctor/getDoctor',
          data : {str:'Physician'},
          success : function(response){
            var tmp = '';
            for(var i=0;i<response.length;i++)
            {
              tmp += '<option value="'+response[i]._id+'">'+response[i].fname+" "+response[i].lname+'</option>';
            }  
            //alert(tmp);
            $('#doc').html(tmp); 
            $('select').material_select(); 
          }
        });
      } 

    });

</script>
  </body>
</html>
