<!DOCTYPE html>
<html>
  <head>
    <title>Patient home page</title>
    <% include materialize.html %>
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <style type="text/css" media="screen">
            .dash-logo{
                padding: 30px;
            }
            .nav-color{
                background-color: #fbfdff;
            }
            #dash-header{
                display: block;
                margin-left: 320px;
                font-size: 20px;
                text-align: left;
                background-color: #3c6b4a !important;
                color: white !important;
            }
            .course-block{
                display: block;
                height:80px;
                padding: 20px;
                border: 1.5px solid #cbcbce;
                border-radius: 10px;
                font-size:1.2rem;
                background-color: rgb(247, 247, 247);
            }
            .course-block:hover{
                background-color: rgb(232, 232, 232);
                cursor: pointer;
            }
            .dir-strct{
                width:100%;
                height:60px;
                background-color:transparent;
                font-size:20px;
                padding: 15px 4px;
                border-bottom: 1px solid #dedede;
            }
            .tips{
                line-height:22px !important;
                text-align: left;
                padding: 0px 8px;
                margin-bottom: 15px;
            }
            .below_welcome{
                width: 100%;
                height: 45px;
                text-align: right;
                display: block;
                border-bottom: 1px solid #cccccc;
            }
            .below_welcome ul{
                margin:0px;
                padding: 10px;
            }
            .below_welcome ul li{
                display: inline-block;
                margin: 0px 10px;
            }
            .crs-card:hover{
                //background-color: #262D40!important;
            }
            .progress-bar-area{
                display: block;
                width: 100%;
                height: 260px;
            }
            .progress-bar{
                display: block;
                width: 80%;
                height: 216px;
                margin: auto;
                //border: 25px solid #d1d1d1;
                border-radius: 100%;
                //padding: 19% 10% 10% 14%;
                font-size: 60px;
                background-color: #61bb61;
                background-image: linear-gradient(10deg, transparent 50%, #e4e4e4 50%),linear-gradient(10deg, #e4e4e4 50%, transparent 50%);
            }
            .progress-inside{
                position: relative;
                background-color: #f5f5f5;
                width: 80%;
                height: 80%;
                margin: auto;
                border-radius: 100%;
                display: block;
                top: 10%;
                padding: 62px 40px;
            }
            .slash-line{
                width: 32% !important;
                height: 55px;
                border-bottom: 2px solid #fff;
                -webkit-transform: translateY(-6px) translateX(-12px) rotate(60deg);
                position: relative;
            }
            .scd_apt_details{
                height: 30px;
                display: inline-block;
                margin: 1%;
            }
            .scd_apt_title{
              font-size: 1.2rem;
              color: rgba(60, 107, 74, 0.79);
              background-color: #fbfdff;
            }
            .card-title{
              line-height: 30px !important;
            }
        </style>
  </head>
  <body>
    	<% include header.html %>

             <div style="margin:0px 290px;">
                <h3 class="blue-text darken-4">Health Statistics</h3>
                <div class="row">
                  <div class="col l3 m6 s12">
                      <div class="card center-align">
                        <div class="card-content green-text darken-4">
                                <span class="card-title">Body Temperature</span>
                                <hr/>
                                <h3 id="body_temp">0</h3>
                              </div>
                      </div>
                 </div>
                   
                   <div class="col l3 m6 s12">
                      <div class="card center-align">
                        <div class="card-content green-text darken-4">
                                <span class="card-title">Current Pulse rate</span>
                                <hr/>
                                <h3 id="pulse_rate">0</h3>
                              </div>
                      </div>
                 </div>
                   <div class="col l3 m6 s12">
                      <div class="card center-align">
                        <div class="card-content green-text darken-4">
                                <span class="card-title">No. of Hours slept</span>
                                <hr/>
                                <h3 id="hours_slept">5</h3>
                              </div>
                      </div>
                 </div>
                   <div class="col l3 m6 s12">
                      <div class="card center-align">
                        <div class="card-content green-text darken-4">
                                <span class="card-title">Current Blood pressure</span>
                                <hr/>
                                <h3 id="blood_pressure">0</h3>
                              </div>
                      </div>
                 </div>
                 
                </div>
                <h3 class="blue-text darken-4">Analytics</h3>
      <div class="col l8">
        <canvas id="analytics" class="col l12" style="margin-left:"width="80%" height="20px"></canvas>
      </div>                
      </div>

      
  

  </body>
  <script src="../javascripts/Chart.min.js"></script>
<script>
      function randomInt(){
        setInterval(function(){
        //   $("#blood_pressure").html(Math.floor(Math.random() * (10)) + 110);
        //   $("#body_temp").html(Math.floor(Math.random() * (1)) + 97+" F");
        //   $("#pulse_rate").html(Math.floor(Math.random() * (10)) + 70);
        // },1000);
        var bp = Math.floor(Math.random() * (15)) + 110;
          var bt = Math.floor(Math.random() * (5)) + 97+" F";
          var pr = Math.floor(Math.random() * (15)) + 70;


          $("#blood_pressure").html(bp);
          if(bp>118){
            var audio = new Audio('./audio/alert.wav');audio.play();
            Materialize.toast('High Blood Pressure Alert!',5000);
          }
          if(bp<82){
           var audio = new Audio('./audio/alert.wav');audio.play();
          Materialize.toast('Low Blood Pressure Alert!',5000);
         }
         $("#body_temp").html(bt);
         if(bt>99){
           var audio = new Audio('./audio/alert.wav');audio.play();
           Materialize.toast('High Body Temperature Alert!',5000);
         }
         $("#pulse_rate").html(pr);
         if(pr>78){
           var audio = new Audio('./audio/alert.wav');audio.play();
           Materialize.toast('High Pulse Rate Alert!',5000);
         }
       },5000);
        //randomInt();
      }
      randomInt();
      createLineChart();

      function createLineChart(){
              var data = {
              labels: ["April", "May", "June", "July","January", "February", "March"],
              datasets: [
                  {
                      label: "Blood Pressure",
                      fill: false,
                      lineTension: 0.1,
                      backgroundColor: "rgb(255, 51, 51)",
                      borderColor: "rgb(255, 51, 53)",
                      borderCapStyle: 'butt',
                      borderDash: [],
                      borderDashOffset: 0.0,
                      borderJoinStyle: 'miter',
                      pointBorderColor: "rgb(255, 51, 51)",
                      pointBackgroundColor: "#fff",
                      pointBorderWidth: 1,
                      pointHoverRadius: 5,
                      pointHoverBackgroundColor: "rgb(255, 51, 51)",
                      pointHoverBorderColor: "rgb(255, 51, 51)",
                      pointHoverBorderWidth: 2,
                      pointRadius: 1,
                      pointHitRadius: 10,
                      data: [112, 110, 113, 112, 113, 112, 113],
                      spanGaps: false,
                  },
                  {
                      label: "Pulse Rate",
                      fill: false,
                      lineTension: 0.1,
                      backgroundColor: "rgba(75,192,192,0.4)",
                      borderColor: "rgba(75,192,192,1)",
                      borderCapStyle: 'butt',
                      borderDash: [],
                      borderDashOffset: 0.0,
                      borderJoinStyle: 'miter',
                      pointBorderColor: "rgba(75,192,192,1)",
                      pointBackgroundColor: "#fff",
                      pointBorderWidth: 1,
                      pointHoverRadius: 5,
                      pointHoverBackgroundColor: "rgba(75,192,192,1)",
                      pointHoverBorderColor: "rgba(220,220,220,1)",
                      pointHoverBorderWidth: 2,
                      pointRadius: 1,
                      pointHitRadius: 10,
                      data: [70, 72, 70, 71, 71, 72, 72, 72],
                      spanGaps: false,
                  },
                  {
                      label: "Body Temperature",
                      fill: false,
                      lineTension: 0.1,
                      backgroundColor: "rgb(127, 63, 191)",
                      borderColor: "rgb(127, 63, 191)",
                      borderCapStyle: 'butt',
                      borderDash: [],
                      borderDashOffset: 0.0,
                      borderJoinStyle: 'miter',
                      pointBorderColor: "rgb(127, 63, 191)",
                      pointBackgroundColor: "#fff",
                      pointBorderWidth: 1,
                      pointHoverRadius: 5,
                      pointHoverBackgroundColor: "rgb(127, 63, 191)",
                      pointHoverBorderColor: "rgb(127, 63, 191)",
                      pointHoverBorderWidth: 2,
                      pointRadius: 1,
                      pointHitRadius: 10,
                      data: [97, 97, 97, 97, 97, 98, 97, 97],
                      spanGaps: false,
                  }
              ]
          };

          var ctx = document.getElementById('analytics').getContext('2d');
          var myChart = new Chart(ctx, {
            type: 'line',
            data: data
          });
        }

</script>
</html>
